body {
	font-size: 12px;
	color: #333333;
	font-family: arial,helvetica,sans-serif;
	font-size: 12px;
	text-align: left;
}

#tasks {
	background-image: url(../img/bg.png) !important;	
	float: left;
}

#filters {
	background-image: url(../img/w-white.png) !important;
	background-repeat: no-repeat !important;		
	background-position: center center !important;
}

#tasks h2 {
	text-align: center;
	font-size: 14px;
	color: #777777;
	margin: 0;
}

h2 {
	margin: 0 0 5px 0;	
	text-align: center;
}

ul {
	list-style-type: none;	
}

div.tasks-category {
	border: 1px solid #777777;
	float: left;	
	width: 30%;
	margin: 0 5px 0 0;
	background-color: #f7f7f7;
	padding: 8px;
}

ul.tasks {	
	float: left;
	padding: 0;
	width: 100%;
	margin: 0 10px 0 0;
	height: 500px;
}

ul.tasks li {
	float: left;
	margin: 5px;
	padding: 3px;
	width: 110px;
}

.ui-layout-east {
	padding: 0 !important;	
} 

.dashboard-action {
	padding: 4px;
	display: block;
	margin: 4px;
}

dl dt {
	font-weight: bold;
}

dl dd {
	margin: 0;
	display: block;
}