body {
	font-size: 12px;	
}

ul {
	list-style-type: none;	
}

div.tasks-category {
	float: left;	
	width: 30%;
	margin: 0 5px 0 0;
}

ul.tasks {	
	border: 1px solid black;
	float: left;
	padding: 0;
	width: 100%;
	margin: 0 10px 0 0;
	height: 500px;
}

ul.tasks li {
	float: left;
	margin: 5px;
	padding: 3px;
	width: 90px;
	height: 50px;
}

ul.tasks li span {
	float: left;
	clear: left;
}