body {
	font-size: 12px;
	color: #333333;
	font-family: arial,helvetica,sans-serif;
	font-size: 12px;
	text-align: left;
}

#tasks {
	background-image: url(../img/bg.png) !important;	
	float: left;
}

#tasks h2 {
	text-align: center;
	font-size: 14px;
	color: #777777;
	margin: 0;
}

ul {
	list-style-type: none;	
}

div.tasks-category {
	border: 1px solid #777777;
	float: left;	
	width: 30%;
	margin: 0 5px 0 0;
	background-color: #f7f7f7;
	padding: 8px;
}

ul.tasks {	
	float: left;
	padding: 0;
	width: 100%;
	margin: 0 10px 0 0;
	height: 500px;
}

ul.tasks li {
	float: left;
	margin: 5px;
	padding: 3px;
	width: 90px;
	height: 50px;
}

ul.tasks li span {
	float: left;
	clear: left;
}