<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" xmlns:wicket="http://wicket.apache.org/">
	<wicket:head>
	</wicket:head>
	
	<body>
		<wicket:panel>
			<div class="ui-layout-center" wicket:id="layoutCenter">Center</div>
			<div class="ui-layout-north" wicket:id="layoutNorth">North</div>
			<div class="ui-layout-south" wicket:id="layoutSouth">South</div>
			<div class="ui-layout-east" wicket:id="layoutEast">East</div>
			<div class="ui-layout-west" wicket:id="layoutWest">West</div>
		</wicket:panel>
	</body>
</html>
