<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" xmlns:wicket="http://wicket.apache.org/">
	<wicket:head>
	</wicket:head>
	
	<body>
		<wicket:panel>
			<div class="ui-layout-center" wicket:id="paneCenter">
				<span wicket:id="layoutCenter"></span>
			</div>
			<div class="ui-layout-north" wicket:id="paneNorth">
				<span wicket:id="layoutNorth"></span>
			</div>
			<div class="ui-layout-south" wicket:id="paneSouth">
				<span wicket:id="layoutSouth"></span>
			</div>
			<div class="ui-layout-east" wicket:id="paneEast">
				<span wicket:id="layoutEast"></span>
			</div>
			<div class="ui-layout-west" wicket:id="paneWest">
				<span wicket:id="layoutWest"></span>
			</div>
		</wicket:panel>
	</body>
</html>
