@CHARSET "UTF-8";

body {
	font: 62.5% "Trebuchet MS", sans-serif;
}

.leftMenu {
	width: 233px;
	float: left;
}

#content-wrapper {
	float: left;
	width: 70%;
	font-size: 12px;
	padding-left: 10px;
}

.section {
	
}

code {
	white-space: pre;
}

#myContent {
	display: none;
}

.resizable {
	width: 300px;
	height: 300px;
	border: 1px solid black;
}

.view-source {
	padding: 0.4em 1em 0.4em 20px;
	position: relative;
	text-decoration: none;
	position: relative;
	float: right;
}

.view-source span.ui-icon {
	position: absolute;
	top: 2px;
	left: 0px;
}

p.javaCode:before {
    content:"Java code:"
}

p.htmlCode:before {
    content:"HTML code:"
}
