#ui-datepicker-div {
    /* Minimum of '5' is required */
    z-index: 5;
}

.ajaxLoader {
	position: relative;
	margin: auto;
	width: 100px;
	height: 100px;
	background: url("ajax-loader.gif") no-repeat;
}

.wiQueryLogo {
	margin-top: 6px;
	margin-left: 6px;
	width: 240px;
	height: 62px;
	background: url("wiquery.png") no-repeat;
}

.code {
	border: 1px solid gray;
	font-size: 11px !important;
	width: 99%; 
	margin-left: auto; 
	margin-right: auto; 
	height:530px; 
	overflow: scroll;
}

.code td {
	font-size: 11px !important;
}